name: Workflow for Codecov example-java-gradle

on:
  push:
    branches: [ "main" , "dev" ]
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Install dependencies, run tests, and collect coverage
        run: gradle build

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
