name: Java Google Formatter Check

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  checkstyle:
    name: 'Checkstyle Linter'
    runs-on: ubuntu-latest
    env:
      CHECKSTYLE_VERSION: '10.25.0'
      REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      REVIEWDOG_VERSION: v0.20.3

    steps:
      - name: 'Clone Code'
        uses: actions/checkout@v4

      - name: 'Find changed Java files'
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            **.java

      - name: 'Setup Java JDK'
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: 'Setup Reviewdog'
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: ${{ env.REVIEWDOG_VERSION }}

      - name: 'Run Checkstyle'
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          wget https://github.com/checkstyle/checkstyle/releases/download/checkstyle-${{ env.CHECKSTYLE_VERSION }}/checkstyle-${{ env.CHECKSTYLE_VERSION }}-all.jar
          
          echo "${{ steps.changed-files.outputs.all_changed_files }}"

          java -jar checkstyle-${{ env.CHECKSTYLE_VERSION }}-all.jar -c google_checks.xml -f xml ${{ steps.changed-files.outputs.all_changed_files }} \
            | reviewdog -f=checkstyle \
                -name="Checkstyle" \
                -reporter="github-pr-review" \
                -level="warning" \
                -fail-on-error="true"