name: Unit test

on:
  push:
    branches: [ "main" , "dev"]
  pull_request:

jobs:
  test:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
        with:
          gradle-version: '9.2.1'

      - name: Build with Gradle 9.2.1
        run: gradle build

      - name: Unit test
        run: gradle test